---
import DefaultLayout from '@layouts/DefaultLayout.astro'
---

<DefaultLayout title="Página no encontrada">
	<section class="my-24">
		<div class="container text-center">
			<h1 class="mb-8 text-6xl font-bold text-red-600">¡Bandera Roja!</h1>
			<p class="mb-6 text-2xl text-gray-700">Parece que nos hemos salido de la pista... ¡Esta página no existe!</p>
			<p class="mb-8 text-lg text-gray-700">
				Pero no te preocupes, el equipo está listo para guiarte de vuelta a la carrera.
			</p>
			<a class="rounded-full bg-blue-500 px-6 py-3 font-bold text-white hover:bg-blue-700" href="/">
				Volver a la Línea de Salida
			</a>
		</div>
	</section>
</DefaultLayout>
