---
import CallToAction from './CallToAction.astro'
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
const instagramURL = 'https://www.instagram.com/formuleros_py/' // Reemplaza con tu URL de Instagram
const facebookURL = 'https://www.facebook.com/groups/tu_grupo_de_facebook/'
const whatsapp = 'https://wa.me/595982964730' // Reemplaza con tu URL de Facebook (opcional)
---

<footer>
	{/* Si tienes un CallToAction personalizado, descomenta */}
	{/* <CallToAction /> */}
	<section class="py-20">
		<h2 class="sr-only">Footer</h2>
		<div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">Navegación</h3>
				<ul class="flex flex-col gap-2">
					<li><a href="/">Inicio</a></li>
					<li><a href="/proxima-fecha">Próxima Fecha</a></li>
					<li><a href="/escuderias">Escuderías</a></li>
					<li><a href="/pilotos">Pilotos</a></li>
					{/* Añade aquí más enlaces importantes de tu sitio */}
				</ul>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">Información del Torneo</h3>
				<ul class="flex flex-col gap-2">
					<li><a href="/reglamento">Reglamento</a></li>
					<li><a href="/calendario">Calendario</a></li>
					<li><a href="/contacto">Contacto</a></li>
					{/* Añade aquí otros enlaces relevantes */}
				</ul>
			</div>
			<div class="flex flex-col gap-4">
				<h3 class="text-2xl font-bold">Síguenos</h3>
				<ul class="flex flex-col gap-2">
					<li>
						<ExternalLink href={instagramURL}>Instagram</ExternalLink>
					</li>
					{
						facebookURL && (
							<li>
								<ExternalLink href={facebookURL}>Facebook</ExternalLink>
							</li>
						)
					}
					{
						(
							<li>
								<ExternalLink href={whatsapp}>WhatsApp</ExternalLink>
							</li>
						)
					}
				</ul>
			</div>
			<div class="flex flex-col gap-4">
				<Logo loading="lazy" />
				<p class="text-sm leading-[1.75]">
					Organizado por <ExternalLink href="https://www.instagram.com/formuleros_py/">@formuleros_py</ExternalLink>
				</p>
				<p class="text-sm">Tip: Mantente al tanto de las últimas novedades y resultados.</p>
			</div>
		</div>
	</section>
	<section class="py-8">
		<div class="container flex flex-col gap-4 md:flex-row md:justify-between">
			<p>
				&copy; {currentYear} - Torneo Amateur de Karting.
			</p>
			<p>Desarrollado con ❤️ por Denis Cantero.</p>
		</div>
	</section>
</footer>

<style>
	footer section {
		border-top: 1px solid var(--border-color-subtle);
	}
</style>
