---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
	/**
	 * The source URL for the image
	 */
	src?: string
}

const { src = '/formuleros.jpg' }: Props = Astro.props
---

<section class="hero py-24">
	<div class="container mx-auto px-4">
		<div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-2">
			<div class="flex flex-col items-center gap-6 md:items-start">
				<h1 class="text-center text-4xl font-bold text-blue-600 md:text-left lg:text-6xl">
					<slot><span class="text-gradient">¡La emoción del karting amateur en Paraguay!</span></slot>
				</h1>
				<div class="flex flex-col gap-3 min-[500px]:flex-row">
					<a class="button has-icon bg-blue-500 text-white hover:bg-blue-700" href="/proxima-fecha">
						<Icon name="lucide:calendar" />
						Próxima Fecha
					</a>
					<a class="button has-icon color-secondary bg-green-500 text-white hover:bg-green-700" href="/pilotos">
						<Icon name="lucide:users" />
						Ver Pilotos
					</a>
				</div>
			</div>
			<Image class="hidden lg:block" src={src} alt="" decoding="async" width={800} height={600} loading="eager" />
		</div>
	</div>
</section>

<style lang="scss">
	h1 {
		text-wrap: unset;
	}

	.text-gradient {
		background: linear-gradient(
			315deg,
			light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
			light-dark(var(--color-secondary-300), var(--color-primary-200))
		);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
