---
import { Image } from 'astro:assets'
import logo from '../assets/images/logo.jpeg' // Importa tu logo JPEG

/**
 * Componente para el Logo de Formuleros PY
 */
---

<a href="/" class="!no-underline">
	<div class="h-auto w-24 md:w-32 lg:w-48">
		<Image src={logo} alt="Logo Formuleros PY" loading="eager" class="h-full w-full object-contain" />
	</div>
</a>

<style lang="scss">
	a {
		color: var(--foreground-color); /* Puedes ajustar esto si es necesario */
	}
</style>
